@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body{
   font-family: "Lato";
   font-size: 16px;
   
}
.title{
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
}
.subtitle{
   font-size: 20px;
   font-weight: 700;
   line-height: 150%;
}
.text, .list{
   font-size: 16px;
   line-height: 160%;
   color: #424551;
}
.list{
   text-indent: 18px;
}